body{
    max-width: 325px;
    font-family: 'Roboto';
}

.header--twocolumns-justified{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #dddddd;
}

.header__title{
    font-weight: bold;
    font-size: 12;
}

.header__lenght{
    font-size: 12;
}

.header__ratings{
    font-size: 12;   
}

.header__img_ratings {
    width: 20px;    
}

.middle--inline-relative{
    display:inline-block;
    position:relative;
}

.middle__button-imgoverlay{
    background-color:#999999;
    opacity: 0.8;
	border-radius:28px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:17px;
	padding:10px 40px;
    text-decoration:none;

    position: absolute;
    bottom:1em;
    right:4em; 
}

.middle__button-imgoverlay:hover{
    opacity: 1;    
}

.footer {
    padding: 10px;
    background-color: #dddddd;
}

.footer__description{
    font-size: 12;
}